@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* header */
header {
  background-image: url(./images/bg-main-mobile.png);
  height: 240px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  position: relative;
}
.card-back-div {
  margin-top: 50px;
  margin-right: -44px;
  position: relative;
}
.card-back {
  width: 286px;
  height: 157px;
}
.back-card-number {
  position: absolute;
  top: 71px;
  left: 231px;
  color: var(--white, #fff);
  text-align: right;
  font-family: Space Grotesk;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}
.card-front-div {
  margin-top: -73px;
  margin-left: -52px;
  position: relative;
}
.card-front {
  width: 285px;
  height: 156.208px;
  border-radius: 8px;
  box-shadow: 0 4px 80px -2px gray;
}
.front-card-components {
  position: absolute;
  top: 20px;
  left: 25px;
}
.card-logo {
  width: 54px;
  height: 30px;
}
h3 {
  color: var(--white, #fff);
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.2px;
  margin-top: 37px;
}
.name-date {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.name {
  color: var(--white, #fff);
  font-family: Space Grotesk;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}
.date {
  color: var(--white, #fff);
  text-align: right;
  font-family: Space Grotesk;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .App {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header {
    background-image: url(./images/bg-main-desktop.png);
    height: 100vh;
    width: 35%;
    justify-content: center;
    align-items: flex-end;
  }
  .card-back-div {
    margin-right: -184px;
  }
  .card-back {
    width: 447px;
    height: 245px;
  }
  .back-card-number {
    top: 111px;
    left: 358px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .card-front-div {
    margin-top: -520px;
    margin-right: -102px;
  }
  .card-front {
    width: 447px;
    height: 245px;
  }
  .front-card-components {
    top: 20px;
    left: 44px;
  }
  .card-logo {
    width: 84px;
    height: 47px;
  }
  h3 {
    margin-top: 64px;
    font-size: 28px;
    letter-spacing: 3.422px;
  }
  .name-date {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
  }
  .name {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .date {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
